<input type="text" [(ngModel)]="title" placeholder="enter">
<p>{{title}}</p>

<div [ngClass]="classes">
    <p>{{message}}</p>
</div>

<div class="apply" [ngStyle]="{'color':selectedCOlor}">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, eaque!</p>
</div>

<div *ngIf="check; else unchecked"> hi im checked</div>

<ng-template #unchecked> i should appear when checked isnt</ng-template>

<ul>
    <li *ngFor="let name of names; let i=index">
     {{name}}
    </li>
</ul>

<div [ngSwitch]="selectedCOlor">
    <p *ngSwitchCase="'red'">im red</p>
    <p *ngSwitchCase="'yellow'">im yellow</p>
    <p *ngSwitchDefault>im default</p>
</div>

<h1>{{Pipping | uppercase}}</h1>
<h1>{{today | date}}</h1>
<h1>{{today | date:"fullDate"}}</h1>
<h1>{{today | date:"h:mm:s"}}</h1>

<h3>{{currency | currency:"EUR" : "symbol":"1.1-4"}}</h3>
<h3>{{currency | percent}}</h3>

<h1>services</h1>
this is a service practice , the message from service is {{servicemessage |json}}
<ul>
    <li *ngFor="let sm of servicemessage">{{sm.name}}-{{sm.price}}-{{sm.branch}}</li>
</ul>

<h1>Fetching API</h1>
<ul>
    <li *ngFor="let post of posts">
       <p>{{post | json}}</p>
    </li>
</ul>